.block-content {
}

.block-content__container {
    width: 100%;
    padding: 15px 0;
    border-radius: 4px;
    @media screen and (min-width: 1280px) {
        width: 50%;
        max-width: 480px;
    }
    .edit-user & {
        @media screen and (min-width: 1280px) {
            width: 100%;
            max-width: 100%;
        }
    }
}

.block-content__form {
    width: 100%;
    margin-top: 20px;
}

.block-content__row {
    margin-bottom: 15px;
}

.block-content__input, .block-content__select {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid $c-border;
}

.block-content__description {
    margin-bottom: 10px;
}

.block-content__footer {
    padding: 40px 0 0;
    text-align: right;
}