.block-page {
    display: none;
    &.block-page--active {
        display: block;
    }
}

.page-item {
    width: 100%;
    padding: 15px;
    border-radius: 4px;
    // @media screen and (min-width: 1280px) {
    //     width: 50%;
    // }
    // .edit-user & {
    //     @media screen and (min-width: 1280px) {
    //         width: 100%;
    //         max-width: 100%;
    //     }
    // }
    
}

.block-content__form {
    width: 100%;
    margin-top: 20px;
}

.block-content__row {
    margin-bottom: 15px;
    img {
        max-width: 100px;
    }
}

.block-content__input, .block-content__select {
    width: 100%;
    border-radius: 3px;
    border-bottom: 1px solid $c-border;
    position: relative;
    select, input {
        width: 100%;
        height: 100%;
        padding: 10px 20px 10px 0;
        border: 0;
        appearance: none;
    }
}

.block-content__select {
    &::before {
        content: '';
        width: 10px;
        height: 10px;
        position: absolute;
        top: 14px;
        right: 5px;
        border-top: 1px solid $c-border;
        border-right: 1px solid $c-border;
        transform: rotate(135deg);
        pointer-events: none;
    }
}

.block-content__description {
    margin-bottom: 10px;
    label {
        position: relative;
        input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
    }
}

.block-content__footer {
    padding: 40px 0;
    text-align: right;
    .import-file &, .delete-page & {
        text-align: center;
    }
}

.block-content__options {
    display: flex;
    flex-wrap: wrap;
    label {
        min-height: 25px;
        margin: 0 20px 0 0;
        
    }
    p {
        width: 100%;
    }
}

.block-content__warmning {
    margin-top: 8px;
    font-size: 13px;
}

.block-content__announ {
    margin-top: 8px;
    font-size: 11px;
}