.sidebar {
    width: 40%;
    max-width: 200px;
    min-height: calc(100vh - 71px);
    padding: 15px 0;
    background: $c-body;
    @media screen and (min-width: 1280px) {
        width: 20%;
    }
}

.sidebar__header {
    padding: 10px;
    text-align: center;
}

.sidebar__img {
    width: 100px;
    height: 100px;
    margin: 0 auto 5px;
    border-radius: 100%;
}

.sidebar__item {
    padding: 15px 10px;
    font-size: 16px;
    transition: all 0.5s ease-in-out;
    &.sidebar__item--active {
        background: $c-white;
        .sidebar__link {
            font-weight: 600;
        }
    }
    &:hover {
        background: $c-white;
    }
}

.sidebar__link {
    display: block;
    color: $c-sidebar;
}

.sidebar__icon {
    margin-right: 15px;
    font-size: 18px !important;
}

.sidebar__info {
    color: $c-primary;
    font-weight: 600;
}